* {
  text-align: center;
}
.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
  min-width: 350px;
}

.map-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-width: 300px;
  min-height: 500px;
}

h1 {
  text-align: center;
  padding: 2rem;
  background-color: rgb(96, 198, 221);
  font-weight: 900;
  font-family: "Chango", cursive;
  font-size: 3rem;
  text-shadow: 1px 1px 1px white;
  margin-bottom: 2rem;
}
h2 {
  font-family: monospace;
}
.results-container {
  min-height: 150px;
  width: 80%;
  margin: 0 auto;
}

.distance {
  min-height: 30px;
}

.list-group-item {
  cursor: pointer;
}

.form {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }
}
